* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    body {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    background-color: lightsalmon;
}

header {
    height: 50px !important;
    font-size: 1.2rem;
    position: sticky;
    bottom: 50px;
    background-color: teal;
    padding-top: 15px;
    padding-left: 25px;
}

a {
    text-decoration: none;
    color: lightsalmon;
}

.nav li {
    display: inline;
    margin: 5%;
}

@media only screen and (max-width: 480px) {
    .nav li {
        margin: 2%;
    }
}